
{% comment %} This is a custom template for your client {% endcomment %}


{% comment %} hardcoded the header {% endcomment %}
<h2> This is some hardcoded title </h2>


{% comment %} Import sections {% endcomment %}
{% section 'image-banner'%}
{% section 'promotions-group'%}